{% extends 'base.html' %} {% load static %} {% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div class="content">
  <div class="container-fluid">
    <h4 class="page-title">Chart JS</h4>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card" style="border-radius: 6px;">
        <div class="card-header">
          <div class="card-title">No. of students per College and Program</div>
        </div>
        <div class="card-body">
          <div class="chart-container" style="height: 200px;">
            <canvas id="multibarChart"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="card" style="border-radius: 6px;">
        <div class="card-header">
          <div class="card-title">No. of students per College</div>
        </div>
        <div class="card-body">
          <div class="chart-container">
            <canvas id="PieChart"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card" style="border-radius: 6px;">
        <div class="card-header">
          <div class="card-title">No. of students per Program</div>
        </div>
        <div class="card-body">
          <div class="chart-container" style="height: 400px;">
            <canvas id="doughnutChart"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card" style="border-radius: 6px;">
        <div class="card-header">
          <div class="card-title">No. of students per Organization</div>
        </div>
        <div class="card-body">
          <div class="chart-container" style="height: 400px;">
            <canvas id="barChart"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="card" style="border-radius: 6px;">
        <div class="card-header">
          <div class="card-title">Orgmembers in the Organization (lowest to highest)</div>
        </div>
        <div class="card-body">
          <div class="chart-container" style="height: 200px;">
            <canvas id="lineChart"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  function loadMultibarChart() {
    fetch("/multibarChart/")
      .then((response) => response.json())
      .then((data) => {
        // Convert college and program names to acronyms
        var collegeLabels = data.college_labels.map(label => {return acronymize(label);});
        var collegeTotal = data.college_total;
        var programLabels = data.program_labels.map(label => {return acronymize(label);});
        var programCounts = data.program_counts;

        var multibar = document.getElementById("multibarChart").getContext("2d");
        var multibarChart = new Chart(multibar, {
          type: "bar",
          data: {
            labels: collegeLabels, // Use acronyms as x-axis labels
            datasets: [
              {
                label: "No. of Students in Colleges",
                data: collegeTotal,
                backgroundColor: "rgba(54, 162, 235, 0.2)", // Blue
                borderColor: "rgba(54, 162, 235, 1)", // Blue
                borderWidth: 1
              },
              {
                label: "No. of Students in Programs",
                data: programCounts,
                backgroundColor: "rgba(255, 99, 132, 0.2)", // Red
                borderColor: "rgba(255, 99, 132, 1)", // Red
                borderWidth: 1
              }
            ]
          },
          options: {
            responsive: true,
            maintainAspectRatio: false,
            scales: {
              x: {
                stacked: true,
              },
              y: {
                stacked: true,
              },
            },
            plugins: {
              legend: {
                position: 'bottom',
              },
              title: {
                display: true,
                text: 'Number of Students in Colleges and Programs'
              }
            }
          }
        });
      })
      .catch((error) => console.error("Error:", error));
  }
  // Function to generate acronyms
  function acronymize(name) {return name.split(' ').map(word => word.match(/[A-Z]/)?.[0] || '').join('');}

  function loadPieChart() {
    fetch("/pieChart/")
      .then((response) => response.json())
      .then((data) => {
        var labels = data.college_labels;
        var counts = data.college_counts;
        var PieChart = document.getElementById("PieChart").getContext("2d");

        new Chart(PieChart, {
          type: "pie",
          data: {
            labels: labels,
            datasets: [{
              label: 'College Distribution',
              data: counts,
              backgroundColor: [
                '#006400', // Green
                '#FF6384', // Red
                '#FFCE56', // Yellow
                '#000080', // Navy Blue
                '#6A5ACD', // Slate Blue
                '#FFA07A', // Light Salmon
                '#FF99CC', // Pink
                '#4BC0C0', // Aqua
              ],
              borderWidth: 1
            }]
          },
          options: {
            responsive: true,
            pieceLabel: {
              render: "percentage",
              fontColor: "white",
              fontSize: 14,
            },
          }
        });
      })
      .catch((error) => console.error("Error:", error));
  }

  function loadDoughnutChart() {
    fetch("/doughnutChart/")
      .then((response) => response.json())
      .then((data) => {
        var labels = data.labels;
        var counts = data.counts;
        var doughnutChart = document.getElementById("doughnutChart").getContext("2d");

        new Chart(doughnutChart, {
          type: "doughnut",
          data: {
            labels: labels,
            datasets: [{
              label: 'Program Distribution',
              data: counts,
              backgroundColor: [
                '#36A2EB', // Blue
                '#4BC0C0', // Aqua
                '#9966FF', // Purple
                '#FF99CC', // Pink
                '#FFCE56', // Yellow
                '#FFA07A', // Light Salmon
                '#20B2AA', // Light Sea Green
                '#FFD700', // Gold
                '#6A5ACD', // Slate Blue
                '#FF6384', // Red
              ],
              borderColor: '#ffffff', // Border color
              borderWidth: 1
            }]
          },
          options: {
            responsive: true,
            maintainAspectRatio: false,
            pieceLabel: {
              render: "percentage",
              fontColor: "white",
              fontSize: 14,
            },
          }
        });
      })
      .catch((error) => console.error("Error:", error));
  }

  function loadBarChart() {
    fetch("/barChart/")
      .then((response) => response.json())
      .then((data) => {
        var labels = data.labels;
        var counts = data.counts;
        var barChart = document.getElementById("barChart").getContext("2d");

        new Chart(barChart, {
          type: "bar",
          data: {
            labels: labels,
            datasets: [{
              label: 'No. of Students',
              data: counts,
              backgroundColor: [
                '#00ADB5', // Teal
                '#FF6B6B', // Coral
                '#FFE66D', // Lemon
                '#9966FF', // Purple
                '#90EE90', // Green
              ],
              borderWidth: 0
            }]
          },
          options: {
            responsive: true,
            maintainAspectRatio: false,
            scales: {
              yAxes: [{
                ticks: {
                  beginAtZero: true
                }
              }]
            }
          }
        });
      })
      .catch((error) => console.error("Error:", error));
  }

  function loadLineChart() {
    fetch("/lineChart/")
      .then((response) => response.json())
      .then((data) => {
        var labels = data.labels;
        var counts = data.counts;
        var lineChart = document.getElementById("lineChart").getContext("2d");

        new Chart(lineChart, {
          type: "line",
          data: {
            labels: labels,
            datasets: [{
              label: 'No. of Orgmembers',
              data: counts,
              backgroundColor: 'rgba(0, 173, 181, 0.2)', // Teal with transparency
              borderColor: '#00ADB5', // Teal
              pointBackgroundColor: '#00ADB5', // Teal
              pointBorderColor: '#fff', // White
              borderWidth: 2
            }]
          },
          options: {
            responsive: true,
            maintainAspectRatio: false,
            scales: {
              yAxes: [{
                ticks: {
                  beginAtZero: true
                }
              }]
            }
          }
        });
      })
      .catch((error) => console.error("Error:", error));
  }
  loadMultibarChart();
  loadPieChart();
  loadDoughnutChart();
  loadBarChart();
  loadLineChart();
</script>
{% endblock %}
