{% extends 'base.html' %} {% load static %} {% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div class="content">
  <div class="container-fluid">
    <h4 class="page-title">Chart JS</h4>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card" style="border-radius: 6px;">
        <div class="card-header">
          <div class="card-title">No. of Students per Colleges</div>
        </div>
        <div class="card-body">
          <div class="chart-container">
            <canvas id="PieChart"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card" style="border-radius: 6px;">
        <div class="card-header">
          <div class="card-title">No. of Students per Program</div>
        </div>
        <div class="card-body">
          <div class="chart-container" style="height: 400px;">
            <canvas id="doughnutChart"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card" style="border-radius: 6px;">
        <div class="card-header">
          <div class="card-title">No. of Students per Organization</div>
        </div>
        <div class="card-body">
          <div class="chart-container" style="height: 400px;">
            <canvas id="barChart"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card" style="border-radius: 6px;">
        <div class="card-header">
          <div class="card-title">Line Chart</div>
        </div>
        <div class="card-body">
          <div class="chart-container">
            <canvas id="orgMemberPieChart"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card" style="border-radius: 6px;">
        <div class="card-header">
          <div class="card-title">Multi Bar Chart</div>
        </div>
        <div class="card-body">
          <div class="chart-container" style="width: 400px;">
            <canvas id="multibarChart"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  function loadPieChart() {
    fetch("/pieChart/")  // Endpoint for college data
      .then((response) => response.json())
      .then((data) => {
        var labels = data.college_labels;
        var counts = data.college_counts;
        var PieChart = document.getElementById("PieChart").getContext("2d");

        new Chart(PieChart, {
          type: "pie",
          data: {
            labels: labels,
            datasets: [{
              label: 'College Distribution',
              data: counts,
              backgroundColor: [
                '#006400', // Green
                '#FF6384', // Red
                '#FFCE56', // Yellow
                '#000080', // Navy Blue
                '#6A5ACD', // Slate Blue
                '#FFA07A', // Light Salmon
                '#FF99CC', // Pink
                '#4BC0C0', // Aqua
              ],
              borderWidth: 1
            }]
          },
          options: {
            responsive: true
          }
        });
      })
      .catch((error) => console.error("Error:", error));
  }

  function loadDoughnutChart() {
    fetch("/doughnutChart/")
      .then((response) => response.json())
      .then((data) => {
        var labels = data.labels;
        var counts = data.counts;
        var doughnutChart = document.getElementById("doughnutChart").getContext("2d");

        new Chart(doughnutChart, {
          type: "doughnut",
          data: {
            labels: labels,
            datasets: [{
              label: 'Organization Counts',
              data: counts,
              backgroundColor: [
                '#36A2EB', // Blue
                '#4BC0C0', // Aqua
                '#9966FF', // Purple
                '#FF99CC', // Pink
                '#FFCE56', // Yellow
                '#FFA07A', // Light Salmon
                '#20B2AA', // Light Sea Green
                '#FFD700', // Gold
                '#6A5ACD', // Slate Blue
                '#FF6384', // Red
              ],
              borderColor: '#ffffff', // Border color
              borderWidth: 1
            }]
          },
          options: {
            responsive: true,
            maintainAspectRatio: false,
          }
        });
      })
  }

  function loadBarChart() {
    fetch("/barChart/")
      .then((response) => response.json())
      .then((data) => {
        var labels = data.labels;
        var counts = data.counts;
        var barChart = document.getElementById("barChart").getContext("2d");

        new Chart(barChart, {
          type: "bar",
          data: {
            labels: labels,
            datasets: [{
              label: 'No. of Students',
              data: counts,
              backgroundColor: [
                '#00ADB5', // Teal
                '#FF6B6B', // Coral
                '#FFE66D', // Lemon
                '#9966FF', // Purple
                '#90EE90', // Green
              ],
              borderWidth: 0
            }]
          },
          options: {
            responsive: true,
            maintainAspectRatio: false,
            scales: {
              yAxes: [{
                ticks: {
                  beginAtZero: true
                }
              }]
            }
          }
        });
      })
      .catch((error) => console.error("Error:", error));
  }
  loadPieChart();
  loadDoughnutChart();
  loadBarChart();
</script>
{% endblock %}
